@font-face {
    font-family: "Open Sans', sans-serif";
    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}
.pdocrud-table-container a{ color: #000;}
.pdocrud-table-container .panel>.table-responsive{
    background: #eee;
}
td.pdocrud-row-actions a:hover {
    background: #2ac2d4;
    color: #fff;
    border: 1px solid #2ac2d4;
}
td.pdocrud-row-actions a {
    cursor: pointer;
    min-width: 28px;
    background: #fff;
    color: #a1a3a5;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    vertical-align: central;
    text-align: center;
    margin: 0 5px;
    padding: 4px 0px;
    border: 1px solid #e2e7f1;
}
.pdocrud-table-container .pdocrud-table-heading h3 {
    float: left;
    font-size: 20px;
    margin: 0;
}
.pdocrud-table-container .page-title {
    background: #f2f4f6;
    border-bottom: 1px solid rgba(221, 230, 233, 0.48); 
    color: #444;
}
.pdo-search-cols a,.pdocrud-button-delete-all{
    background: #000;
    color: #fff !important;
}

.pdocrud-pagination .pagination>li>a{
    color:#000;
}
.pdocrud-pagination .pagination>.active>a{
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.table>thead:first-child>tr:first-child>th{
    border-top: 0;
    padding: 9px 15px;
}
.pdocrud-table-container .table tbody tr td {
    border-right: 1px solid #d5d5d5;
    white-space: nowrap;
    padding: 9px 15px;
}
.pdocrud-table-container table tr.pdocrud-header-row th{
    padding: 9px 15px;    
}
